@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  form {
    @apply flex flex-col
  }
  h1 {
    @apply text-3xl mb-7 ml-4 mt-5
  }
  label {
    @apply text-xl ml-4
  }
  input {
    @apply text-xl rounded-md m-4 text-black p-1 w-72
  }
  button {
    @apply bg-tertiary hover:bg-blue-900 my-4 rounded-md w-56 mx-auto h-8
  }
}

@Layer component {
  .card {
    @apply bg-secondary text-white flex flex-col max-w-md p-10 rounded-2xl mx-8
  }

  .Hide {
    @apply hidden
  }

  .container {
    @apply bg-primary text-white text-lg p-7 flex
  }

  .toggle-container {
    width: 70px;
    background-color: #c4c4c4;
    cursor: pointer;
    user-select: none;
    border-radius: 50px;
    height: 30px;
    position: relative;
    margin-right: 6px;
  }
  
  .dialog-button {
    font-size: 14px;
    line-height: 14px;
    font-weight: bold;
    cursor: pointer;
    background-color: #00f900;
    color: white;
    padding: 8px 12px;
    min-width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    min-width: unset;
    border-radius: 40px;
    box-sizing: border-box;
    position: absolute;
    left: 34px;
    transition: all 0.3s ease;
  }
  
  .disabled {
    background-color: #f90000;
    left: 0px;
  }
  
}